///
/// = Mixins =
///

@mixin link {
    color: $link;
    cursor: pointer;
    text-decoration: none;

    &:hover,
    &:active {
        color: $link-hover;
    }
    &:focus {
        outline: thin dotted;
    }

    &.disabled,
    &[disabled] {
        color: darken(#FFF, 20%);
        cursor: default;
        pointer-events: none;
    }
}


@mixin button {
    background-color: $link;
    color: #FFF;
    display: inline-block;
    font-family: $font-stack;
    font-weight: bold;
    padding: 0.4rem 1rem;
    text-align: center;
    vertical-align: top;

    &:hover,
    &:focus {
        background-color: $link-hover;
    }

    &.disabled,
    &[disabled] {
        background-color: lighten($charcoal, 45%);
        color: darken(#FFF, 20%);
        pointer-events: none;
    }
}


///
/// container mixin
///

@mixin container($max-width: 1200px, $padding: $gutter ) {
    margin-left: auto;
    margin-right: auto;
    max-width: $max-width;
    padding-left: $padding;
    padding-right: $padding;
    position: relative;
    @include respond-to($max-width + 100) {
        padding-left: 0;
        padding-right: 0;
    }
}


///
/// grouping mixin
///

@mixin grouping {
    &::before,
    &::after {
        content: "";
        display: table;
    }
    &::after {
        clear: both;
    }
}


///
/// fontawesome mixin
///

@mixin fontawesome($character: "") {
    font: normal normal normal 1em unquote("/") 1 'Font Awesome 5 Free';
    font-size: inherit;
    line-height: inherit;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    speak: none;
    text-rendering: auto;
    text-transform: none;

    @if $character != "" {
        content: $character;
    } @else {
        display: inline-block;
    }
}


///
/// messaging mixin
///

@mixin messaging {
    margin-bottom: 2rem;
    padding: 1em 3em;
    position: relative;
    p:last-of-type,
    ul:last-of-type {
        margin-bottom: 0;
    }
    a {
        text-decoration: underline;
    }
    &::before {
        @include fontawesome;

        content: "";
        display: block;
        font-size: 20px;
        height: 23px;
        left: 1em;
        position: absolute;
        top: .65em;
        width: 23px;
    }
}


///
/// no-bullets mixin
///

@mixin no-bullets {
    list-style: none;
    margin: 0;
    padding-left: 0;

    li::before {
        display: none;
    }
}


///
/// transition mixin
///

@mixin transition($properties: all, $duration: 250ms, $easing: ease-in-out) {
    transition: $properties $duration $easing;
}


///
/// visuallyhidden mixin
///

@mixin visuallyhidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}


// Button style mixin
@mixin button-style($background, $border, $border-radius, $color, $padding-y, $padding-x, $font-size, $font-weight) {
    background-color: $background;
    border-color: $border;
    border-radius: $border-radius;
    color: $color;
    font-size: $font-size;
    font-weight: $font-weight;
    padding: $padding-y $padding-x;
    transition:0.2s ease-in-out;

    &:visited,
    &:active {
        color: $color;
    }

    &:hover {
        background-color: lighten($background, 10%);
        border-color: lighten($border, 10%);
        transition:0.2s ease-in-out;
    }
}

// Breakpoint mixin
@mixin respond-to($breakpoint) {
    @media screen and (min-width: $breakpoint) {
        @content;
    }
}

// Accordion
@mixin accordion() {
    > div {
        &.open {
            .header {
                background: $cosmeticrx-gray--light;
                &::after {
                    border-style: solid;
                    border-width: 2px 2px 0 0;
                    content: '';
                    display: inline-block;
                    height: 0.45rem;
                    right: 1rem;
                    position: absolute;
                    top: 0.15rem;
                    transform: rotate(-45deg);
                    vertical-align: top;
                    width: 0.45rem;
                }
            }
        }
        &.close {
            .header{
                position: relative;
                &::after {
                    border-style: solid;
                    border-width: 2px 2px 0 0;
                    content: '';
                    display: inline-block;
                    height: 0.45em;
                    right: 1rem;
                    position: absolute;
                    transform: rotate(135deg);
                    vertical-align: top;
                    width: 0.45em;
                    top: 0;
                }
            }
        }
        &.initially-hidden {
            .content {
                display: none;
            }
        }
        .header {
            background: $cosmeticrx-gray--light;
            color: $cosmeticrx-purple--really-dark;
            cursor: pointer;
            font-size: 1em;
            margin-top: .5em;
            padding: .5em 1em;
            position: relative;
            text-align: left;
            width: 100%;
            &:hover {
                background: $cosmeticrx-gray--dark, 5%;
            }
            &::after {
                bottom: 0;
                height: 1em;
                margin: auto 0;
                position: absolute;
                right: 1em;
                top: 0;
                width: 1em;
            }
        }
        .content {
            font-weight: 300;
            line-height: 1.25;
            padding: 1rem;
        }
    }
}

@mixin font-smoothing() {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}