{% extends 'layouts/full-width' %}

{% block primary %}
  <section>
    <div class="container">
      <h1>Page Not Found  - 404</h1>
      <p>The page you are looking cannot be found. Click <a href="/">here to return home</a>.</p>
    </div>
    <!-- /.container -->
  </section>
{% endblock %}