<section class="ticker-photos-small">
	<div class="ticker-photos-small__container">
		<div class="ticker-photos-small__logos">
			<img src="/questions-assets/images/nbc-logo-2.png" alt="NBC">
			<img src="/questions-assets/images/abc-logo-2.png" alt="ABC">
			<img src="/questions-assets/images/cbs-logo-2.png" alt="CBS">
			<img src="/questions-assets/images/Fox-News-Logo.svg" alt="Fox News">
			<img src="/questions-assets/images/usa-today-logo-2.svg" alt="USA Today">
			<img src="/questions-assets/images/digital-journal-logo-2.png" alt="Digital Journal">
		</div>
	</div>
	<div class="ticker-photos-small__container">
		<div class="container">
			<div class="ticker-photos-small__text">
				<h3 class="ticker-photos-small__tagline">CONFIDENCE DELIVERED TO YOUR DOOR</h3>
			</div>
		</div>
	</div>
	<div class="ticker-photos-small__container flickity-ticker" data-speed="0.35">
		<div class="ticker-photos-small__item">
			<div class="ticker-photos-small__images">
				<a href="https://instagram.com/elainethong" target="_blank" class="ticker-photos-small__link">
					<div class="ticker-photos-small__image">
						<img src="/questions-assets/images/ticker-images/elainething.jpg" alt="Elainething">
					</div>
					<div class="ticker-photos-small__caption">@<i>elainethong</i></div>
				</a>
				<a href="https://instagram.com/carlanthony21" target="_blank" class="ticker-photos-small__link">
					<div class="ticker-photos-small__image">
						<img src="/questions-assets/images/ticker-images/carlanthony21-updated.jpg" alt="Carlanthony21 Updated">
					</div>
					<div class="ticker-photos-small__caption">@<i>carlanthony21</i></div>
				</a>
				<a href="https://instagram.com/shandi_lyn_polak" target="_blank" class="ticker-photos-small__link">
					<div class="ticker-photos-small__image">
						<img src="/questions-assets/images/ticker-images/ShandiNew.png" alt="Shandi New">
					</div>
					<div class="ticker-photos-small__caption">@<i>shandi_lyn_polak</i></div>
				</a>
				<a href="https://instagram.com/jessydodd" target="_blank" class="ticker-photos-small__link">
					<div class="ticker-photos-small__image">
						<img src="/questions-assets/images/ticker-images/jessydodd.jpg" alt="Jessydodd">
					</div>
					<div class="ticker-photos-small__caption">@<i>jessydodd</i></div>
				</a>
				<a href="https://instagram.com/sheynagram" target="_blank" class="ticker-photos-small__link">
					<div class="ticker-photos-small__image">
						<img src="/questions-assets/images/ticker-images/sheyna.jpg" alt="Sheyna">
					</div>
					<div class="ticker-photos-small__caption">@<i>sheynagram</i></div>
				</a>
			</div>
		</div>
		<div class="ticker-photos-small__item">
			<div class="ticker-photos-small__images">
				<a href="https://instagram.com/elainethong" target="_blank" class="ticker-photos-small__link">
					<div class="ticker-photos-small__image">
						<img src="/questions-assets/images/ticker-images/elainething.jpg" alt="Elainething">
					</div>
					<div class="ticker-photos-small__caption">@<i>elainethong</i></div>
				</a>
				<a href="https://instagram.com/carlanthony21" target="_blank" class="ticker-photos-small__link">
					<div class="ticker-photos-small__image">
						<img src="/questions-assets/images/ticker-images/carlanthony21-updated.jpg" alt="Carlanthony21 Updated">
					</div>
					<div class="ticker-photos-small__caption">@<i>carlanthony21</i></div>
				</a>
				<a href="https://instagram.com/shandi_lyn_polak" target="_blank" class="ticker-photos-small__link">
					<div class="ticker-photos-small__image">
						<img src="/questions-assets/images/ticker-images/ShandiNew.png" alt="Shandi New">
					</div>
					<div class="ticker-photos-small__caption">@<i>shandi_lyn_polak</i></div>
				</a>
				<a href="https://instagram.com/jessydodd" target="_blank" class="ticker-photos-small__link">
					<div class="ticker-photos-small__image">
						<img src="/questions-assets/images/ticker-images/jessydodd.jpg" alt="Jessydodd">
					</div>
					<div class="ticker-photos-small__caption">@<i>jessydodd</i></div>
				</a>
				<a href="https://instagram.com/sheynagram" target="_blank" class="ticker-photos-small__link">
					<div class="ticker-photos-small__image">
						<img src="/questions-assets/images/ticker-images/sheyna.jpg" alt="Sheyna">
					</div>
					<div class="ticker-photos-small__caption">@<i>sheynagram</i></div>
				</a>
			</div>
		</div>
		<div class="ticker-photos-small__item">
			<div class="ticker-photos-small__images">
				<a href="https://instagram.com/elainethong" target="_blank" class="ticker-photos-small__link">
					<div class="ticker-photos-small__image">
						<img src="/questions-assets/images/ticker-images/elainething.jpg" alt="Elainething">
					</div>
					<div class="ticker-photos-small__caption">@<i>elainethong</i></div>
				</a>
				<a href="https://instagram.com/carlanthony21" target="_blank" class="ticker-photos-small__link">
					<div class="ticker-photos-small__image">
						<img src="/questions-assets/images/ticker-images/carlanthony21-updated.jpg" alt="Carlanthony21 Updated">
					</div>
					<div class="ticker-photos-small__caption">@<i>carlanthony21</i></div>
				</a>
				<a href="https://instagram.com/shandi_lyn_polak" target="_blank" class="ticker-photos-small__link">
					<div class="ticker-photos-small__image">
						<img src="/questions-assets/images/ticker-images/ShandiNew.png" alt="Shandi New">
					</div>
					<div class="ticker-photos-small__caption">@<i>shandi_lyn_polak</i></div>
				</a>
				<a href="https://instagram.com/jessydodd" target="_blank" class="ticker-photos-small__link">
					<div class="ticker-photos-small__image">
						<img src="/questions-assets/images/ticker-images/jessydodd.jpg" alt="Jessydodd">
					</div>
					<div class="ticker-photos-small__caption">@<i>jessydodd</i></div>
				</a>
				<a href="https://instagram.com/sheynagram" target="_blank" class="ticker-photos-small__link">
					<div class="ticker-photos-small__image">
						<img src="/questions-assets/images/ticker-images/sheyna.jpg" alt="Sheyna">
					</div>
					<div class="ticker-photos-small__caption">@<i>sheynagram</i></div>
				</a>
			</div>
		</div>
	</div>
</section>