span.redactor-circle {
	svg {
		color: $cosmeticrx-blue--light;

		path {
			stroke-dasharray: 322;
			stroke-dashoffset: 322;
		}
	}
	&.visible svg path {
		animation: redactor-circle 1.5s linear forwards;
	}
}
@keyframes redactor-circle {
	from {
		opacity: 0;
		stroke-dashoffset: 322;
	}
	to {
		opacity: 1;
		stroke-dashoffset: 0;
	}
}


span.redactor-underline {
	svg {
		color: $cosmeticrx-blue--light;

		path {
			stroke-dasharray: 300;
			stroke-dashoffset: 300;
		}
	}

	&.visible svg path {
		animation: redactor-underline 1.5s cubic-bezier(.18,-0.01,.93,.33) forwards;
	}
}

@keyframes redactor-underline {
	from {
		opacity: 0;
		stroke-dashoffset: 230;
	}
	to {
		opacity: 1;
		stroke-dashoffset: 0;
	}
}