.DS_Store
.env
.env.laravel
/craft/config/license.key
/node_modules
#/public/css
#/public/js
/public/writable
#/public/images
/public/dist
/vendor
/storage/*
/.idea
/.vagrant
*.log
craft_latest.zip
mix-manifest.json
.phpunit.result.cache
/phpunit.xml