// -------------------
// Header Styles
// -------------------

header {
	&.primary {
		display: relative;
		background-color: $white;
		border-bottom: 2px solid $color-header-border;
		height: 66px;
		position: fixed;
		transition: background-color 0.5s ease;
		width: 100%;
		z-index: 1000;
		@include respond-to(960px) {
			padding: 0;
		}
		.header-container {
			max-width: $max-width--header;
			margin: 0 auto;
			height: 100%;
		}
	}
	&.home {
		background-color: $color-hero-bg;
		border-bottom: none;
	}
}

.header-fixed {
	background-color: $white !important;
	border-bottom: 2px solid $color-header-border !important;
	transition: background-color 0.6s ease;
}

.logo {
	&-container {
	  display: flex;
	  align-items: center;
	  height: 100%;
	  margin: 0 auto;
	  .menu-active & {
		height: 61px;
	  }
	  @include respond-to(960px) {
		position: absolute;
		left: 0;
		margin: 0;
		.menu-active & {
		  height: 100%;
		}
	  }
	}
	display: flex;
	align-items: center;
	order: 2;
	width: 12.189rem;
	height: 100%;
	margin: 0 auto;
	padding: 0 1.5rem;
	@include respond-to(960px) {
	  margin: 0;
	  order: 1;
	}
  }