.modal {
    position: fixed;
    background: $white;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 9999;
    padding: .25rem;
    width: 32em;
    max-width: 100%;
    box-shadow: 0 4px 10px rgba(0,0,0,0.15);
    &__close {
        position: absolute;
        right: 10px;
        top: 10px;
    }
    &__header {
        
    }
    &.-danger &__header {
        background: $color-danger;
    }
    &__body {
        padding: 2rem;
    }
}

.modal__screen {
    position: fixed;
    background: transparentize($cosmeticrx-gray--light, 0.15);
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    z-index: 9998;
}

.modal-actions {
    display: flex;
    &>div {
        flex: 1 1 50%;
    }
    &--left {
        
    }
    &--right {
        text-align: right;
    }
}