<div class="consult-answer">
    <span class="consult-text consult-text--question">{{ answer.question|product_highlighter|raw  }}</span>
    <span class="consult-text consult-text--answer">{{ answer.content }}</span>
</div>
