<div class="empty-cart">
    <span class="title">Your shopping bag is empty.</span>
    <div class="action">
        <a href="/latisse" class="button button-primary--small">Shop Latisse</a>
        <a href="/tretinoin" class="button button-primary--small">Shop Tretinoin</a>
    </div>
    <div class="action">
        <h3>Already have an account and just want to check for updates?</h3>
        <a href="/login" class="button button-primary--small">Login</a>
    </div>
</div>
