<p>
    <a href="https://cosmeticrx.com">
        <img src="https://www.cosmeticrx.com/storage/images/wordmark.png" width="300" alt="CosmeticRx" />
    </a>
</p>
<h2>
    $9 Retin-A (Tretinoin) shipment and/or $49 Latisse - Holiday Sale of a lifetime!
</h2>
<p>
    <a href="https://cosmeticrx.com">
        <img src="https://www.cosmeticrx.com/storage/images/crx-product-line.jpg" style="width: 100%" alt="CosmeticRx Products">
    </a>
</p>
<p>
    You can email <a href="mailto:Support@CosmeticRx.com">Support@CosmeticRx.com</a> to receive a $9 shipment of Retin-A (Tretinoin) (includes free shipping and there are no other charges). This $9 shipment is to celebrate CosmeticRx lowering the price of Retin-A (Tretinoin), Renova (Tretinoin), and Altreno (Tretinoin) to a future refill price of $59 (if you choose to receive refills in the future) - $59 is the lowest price for Retin-A (Tretinoin) of any major US telehealth company.
</p>
<p>
    You can also request (either in addition to a $9 Retin-A shipment) or separately - a shipment of Latisse 3ml for $49 (lasts 1 month) or Latisse 5ml for $69 (lasts 3 month - the best discounted value). Free shipping is included and there are no other charges.
</p>
<p>
    The CosmeticRx Support Team works from 6am-midnight 7 days a week and is happy to answer any questions at any time!
</p>
<p>
    The Support Team<br />
    <a href="mailto:Support@CosmeticRx.com">Support@CosmeticRx.com</a><br />
    <a href="https://cosmeticrx.com">CosmeticRx.com</a>
</p>
<p>
    <a href="https://cosmeticrx.com">
        <img src="https://www.cosmeticrx.com/storage/images/wordmark.png" width="300" alt="CosmeticRx" />
    </a>
</p>
<p>
    CosmeticRx offers free 2-day shipping. Amount paid never expires. Must be 18 years or older. Online consultation included. <a href="%unsubscribe_url%" style="text-decoration: none; color: black">Click here to unsubscribe.</a>
</p>