<p>
    Hi {{ notifiable.firstName }}!
</p>
<p>
    Your CosmeticRx prescription has just expired (all prescriptions expire after 1 year in the US - a national pharmacy rule).
</p>
<p>
    It takes just 2 minutes to submit a new order for Retin-A/Altreno, Renova, Latisse, Valacyclovir (Valtrex), or Finasteride. Please visit <a href="https://cosmeticrx.com">CosmeticRx.com</a>, select a product from the homepage, and submit your new order. After you submit the order, you will get a message on your screen that states your order was successfully submitted and can ship within 2 hours.
</p>
<p>
    CosmeticRx sells Retin-A/Altreno/Renova, Latisse, Valacyclovir (Valtrex), and Finasteride at the guaranteed lowest price of any US telehealth company!
</p>
<p>
    Thanks!
</p>
<p>
    The Support Team<br />
    CosmeticRx<br />
    <a href="https://cosmeticrx.com">CosmeticRx.com</a>
</p>
<p>
    <a href="https://cosmeticrx.com">
        <img src="https://www.cosmeticrx.com/storage/images/wordmark.png" width="300" alt="CosmeticRx" />
    </a>
</p>
