{% import "partials/_macros" as macros %}
{% extends "layouts/full-width" %}

<section class="how-it-works">
    <div class="container">
        <h2>How it works</h2>

        <div class="steps">
            <div class="step">
                <span class="number">1</span>
                <p>
                    Select a prescription cosmetic medication. Retinoin to treat wrinkles or Latisse for longer, fuller eyelashes.
                </p>
                <img src="/images/cosmetic-options.png" alt="Latisse and Tretinoin">
            </div>
            <div class="step">
                <span class="number">2</span>
                <p>
                    Fill out a medical consultation and add pictures, then our dermatologists will review your consultation.
                </p>
                <img src="/images/phone.png" alt="Latisse and Tretinoin">
            </div>
            <div class="step">
                <span class="number">3</span>
                <p>
                    Your dermatologist will upload personalized instructions to your patient portal and our pharmacists will send your prescription medication straight to your door.
                </p>
                <div class="step3-image">
                    <img src="/images/packaging.png" alt="Latisse and Tretinoin">
                    {# <div class="chat">
                        <div class="chat-bubble">
                            <span class="chat-name">Doug Heiner, MD</span>
                            <span class="chat-text">Hi Sarah, your prescription is on its way!</span>
                        </div>
                    </div> #}
                </div>
            </div>
        </div>
    </div>
</section>