{% set portalTitle = 'Change Password' %}
{% extends 'layouts/full-width' %}

{% block primary %}
    <section class="portal">
        <div class="container">
            <div class="portal-headline">
                <div class="breadcrumbs">
                    <a href="/dashboard" class="breadcrumb-item">Dashboard</a> 
                    <span class="breadcrumb-item">Change Password</span>
                </div>
                <h1>
                    Change Password
                </h1>
            </div>
            <form class="container" method="POST" action="{{ url.full }}">
                <div class="form-group">
                    <label for="current">Current Password</label>
                    <input id="current" type="password" name="current" value="" class="medium" />
                    {% include 'partials/messaging/error.twig' with {field: 'current'} %}
                </div>
                
                <div class="form-group">
                    <label for="new">New Password</label>
                    <input id="new" type="password" name="new" value="" class="medium" />
                    {% include 'partials/messaging/error.twig' with {field: 'new'} %}
                </div>
                <div class="form-group">
                    <label for="confirm">Confirm New Password</label>
                    <input id="confirm" type="password" name="confirm" value="" class="medium" />
                    {% include 'partials/messaging/error.twig' with {field: 'confirm'} %}
                </div>

                <div class="form-group">
                    {{ csrf_field() }}
                    <button class="button button-primary" type="submit">Change Password</button>
                </div>
            </form>
        </div>
    </section>
{% endblock %}
